<%- include ("../../partials/admin-side-bar.ejs") %>
<style>
  .table th img, .table td img {   
    border-radius: 0% !important;
}
</style>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!--Get your own code at fontawesome.com-->
<div class="main-panel">
  <div class="content-wrapper"> 
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex align-items-center mb-4">
              <h4 class="card-title mb-sm-0">Course List</h4>
              <a href="/admin/add-course" class="text-dark ml-auto mb-3 mb-sm-0"><button type="submit" class="btn btn-primary mr-2">Add Course</button></a>
            </div>
            <div class="table-responsive border rounded p-1">
              <table class="table">
                <thead>
                  <tr>
                    <th class="font-weight-bold">Sl No</th>
                    <th class="font-weight-bold">Category</th>
                    <th class="font-weight-bold">Course Type</th>
                    <th class="font-weight-bold">Course Name</th>
                    <th class="font-weight-bold">Start Date</th>
                    <th class="font-weight-bold">End Date</th>  
                    <th class="font-weight-bold">Start Time</th>  
                    <th class="font-weight-bold">Duration</th>                       
                    <th class="font-weight-bold">Banner</th> 
                    <th class="font-weight-bold">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i = 0; i < courses.length; i++) {
                    let courseType = "";
                    if(courses[i].course_type == 1){
                      courseType = "Class Rooms";
                    }else{
                      courseType = "Virtual Classes";
                    }                    
                    %>
                    <tr>
                        <td><%= i+1; %></td>
                        <td><%= courses[i].course_category; %></td> 
                        <td><%= courseType %></td> 
                        <td><%= courses[i].course_name; %></td> 
                        <td><%= courses[i].start_date; %></td> 
                        <td><%= courses[i].end_date; %></td> 
                        <td><%= courses[i].start_time; %></td> 
                        <td><%= courses[i].duration; %></td>                        
                        <td><img src ="../../../<%= courses[i].banner; %>" style="width: 75px"></td>
                        <!-- <td><%= courses[i].banner; %></td>    -->
                        <td>                         
                            <div class="d-flex">
                            <span class="add-edit-button mr-2">
                                <a href="/admin/edit-course/<%= Buffer.from("courseList="+courses[i].id).toString('base64')%>">                                     
                                  <img src="../images/edit.png" alt="" style="height:30px;width:33px">
                                </a>
                            </span>
                            <span class="action-btn deleteCourse" data-id="<%= courses[i].id; %>" style="cursor:pointer">
                                <img src="../images/delete.png" width="15" alt="" style="height:30px;width:33px">
                            </span>
                            </div>   
                        </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends --> 
</div>

<%- include ("../../partials/admin-header.ejs") %>

<div class="modal" id="deleteModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Are You Sure?</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
              Are You Sure You Want to Delete ?
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-danger" id="delete">Yes</button>
          </div>
      </div>
  </div>
</div>
<div class="feedback-section" id="feedbackSection"><span></span></div>
<script type="text/javascript">
  $(document).ready(function () {
      let deleteCourse;
      $('body').on('click','.deleteCourse',function(){
          deleteCourse=$(this).data('id');         
          $("#deleteModal").modal('toggle');
      }).on('click','#delete',function (){
          let element=$(this);         
          let formData=new FormData(); 
          formData.append('deleteCourse',deleteCourse);           
          element.attr("disabled","disabled").html("Please Wait..");
        $.ajax({
            type: "POST",
            url: '/admin/delete-course',           
            data: formData,
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {          
                if (data.success) {
                    messageDisplay(data.message, 2000, "success");   
                    setTimeout(function(){ 
                       window.location.reload();
                        }, 2000);     
               } else {
                    messageDisplay(data.message, 2000, "error");                   
               } 
            },
        });
      })     
      
  })
  function messageDisplay(message, timeOut, type) {
    type = $.trim(type);
    if (type == "") {
        type = "error";
    }
    if ($.trim(timeOut) == "") {
        timeOut = 1500;
    }
    var element = $(".feedback-section");
    var color = "#f06b7c";
    if (type == "success") {
        color = "#4caf50";
    } else if (type == "error") {
        color = "#f06b7c";
    }
    element.attr("style", "background-color:" + color);
    $("div.feedback-section span").html(message);
    element.animate({
        height: 70
    }, 300).show();

    if (timeOut != -1) {
        setTimeout(function () {
            element.animate({
                height: 0
            }, 300, function () {
                element.hide();
            });
        }, timeOut);
    }
} 
</script>